<section id="faq" class="section-padding">
  <div class="section-container">
    <h2 class="section-heading">FAQ</h2>

    <div class="space-y-8">
      <div>
        <h3 class="faq-question">
          Q: Will the Bible be in the game?
        </h3>
        <p class="leading-relaxed">
          A: Bible translations besides KJV require permission to use due to
          copyrights. We may be able to get permissions for some Bible
          versions, but for now this project will be a tracker app and not a
          Bible app until we get permission to use those translations.
        </p>
      </div>

      <div>
        <h3 class="faq-question">
          Q: What audiences will this game target?
        </h3>
        <p class="leading-relaxed">
          A: 15-30 year old Christians of both genders. This app will be safe
          for children to use. The best time to develop life long habits is
          during childhood, and the whole point of the game is to help
          believers develop healthy habits.
        </p>
      </div>

      <div>
        <h3 class="faq-question">
          Q: Will AI be used for the game?
        </h3>
        <p class="leading-relaxed">
          A: No parts of the finished game will contain AI, whether art, game dev, writing, etc.
        </p>
      </div>
    </div>
  </div>
</section>