<section id="prayer" class="section-padding">
  <div class="section-container">
    <h2 class="section-heading">Prayer Requests</h2>
    <p class="leading-relaxed mb-6">
      We'd love for you to pray for Thorncrown Games as we embark on this project
      together. Please pray for our contributors that God guides our hands to
      build works that bring glory to Him, bring the faithful closer to Him,
      and bring Christians together in their love of our Father. May each and every one
      of our users feel strengthened in their faith and blessed in their daily walk with Christ.
    </p>
    
    <p class="text-avocado font-medium italic text-center">
      More prayer requests will be here in the future!
    </p>
  </div>
</section>